/*FONT FACE */
@font-face {
    font-family: "rotis";
    src: url(fonts/Rotis.woff);
}

@font-face {
    font-family: "lucidagrande";
    src: url(fonts/LucidaGrande.woff);
}


html{
	font-family: "rotis",trebuchet MS;
	text-rendering: optimizelegibility;
}


/*************************** ICOS SOCIALES**************************/

/* ICO PIE RSS*/
li#rss{
	background:url("../images/rss_foot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
}

li#rss:hover{
	background:url("../images/rss_hover_foot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
}

/* ICO PIE TWITTER*/
li#tweet{
	background:url("../images/tweet_foot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
	
}

li#tweet:hover{
	background:url("../images/tweet_hover_foot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
	
}

/* ICO PIE FACEBOOK*/
li#fb{
	background:url("../images/fb_foot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
	
}

li#fb:hover{
	background:url("../images/fb_hover_foot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
	
}

/* ICO PIE YOUTUBE*/
li#yt{
	background:url("../images/youtube_foot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
	
}

li#yt:hover{
	background:url("../images/youtube_hover_foot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
	
}
                


.content {
    margin: 0 auto;
    width: 993px;
}





/*HEAD*/
.content header{
	background-color:#fe0000;
	height: 106px;
	width:100%;
}

header #contenidohead{
	width: 100%;
	display: table;
	height: 106px;
}

header #contenidohead > div{
	display: table-cell;
	width: 33%;
	
	vertical-align: middle;
}

header #contenidohead #logoaltamira{
	padding-left: 16px;
}

header #contenidohead #zonacentro{
	text-align: center;
}

header #contenidohead #zonacentro a p{color:#fff}

header #contenidohead #zonacentro #tfnohead p {
    font-size: 24px;
    vertical-align: middle;
}

header #contenidohead #zonacentro #tfnohead p img {
    vertical-align: top;
}

header #contenidohead #zonacentro #tfnohead p.leyenda {
    font-size: 13px;
    text-indent: 28px;
}

header #contenidohead #zonacentro #socialhead{
	margin-top: 5px;
    text-indent: 25px;
}


header #contenidohead #zonacentro #socialhead li{
	display: inline-block;
    height: 29px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 29px;    
}

header #contenidohead #zonacentro #socialhead li a{
	float:left;
	width:100%;
}


header #contenidohead #logosantander{
	text-align: right;
	padding-right: 16px;
}




/*NAVEGACION*/
nav{
	width:100%;
	border-bottom:1px solid #d9d9d9;
	margin-bottom: 5px;
}

nav #contenidonav{
	width: 100%;	
	display: table;	
}

nav #contenidonav li{
	float:left;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	margin-right: -1px;
	transform:rotate(0deg) scale(1) skew(-20deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(-20deg) translate(0px);	
	-moz-transform: rotate(0deg) scale(1) skew(-20deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(-20deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(-20deg) translate(0px);
}

nav #contenidonav li a{
	width: 100%;
	padding: 10px 23px;
	float: left;
	color: #fe0000;
	 font-size: 18px;
	transform:rotate(0deg) scale(1) skew(20deg) translate(0px);	
	-webkit-transform: rotate(0deg) scale(1) skew(20deg) translate(0px);	
	-moz-transform: rotate(0deg) scale(1) skew(20deg) translate(0px);	
	-o-transform: rotate(0deg) scale(1) skew(20deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(20deg) translate(0px);
}

nav #contenidonav li.select, nav #contenidonav li:hover{
	background-color: #fe0000;
	border-top: 3px solid #fff;
	margin-top: -3px;
}

nav #contenidonav li.select a, nav #contenidonav li:hover a{
	color:#fff;
}

nav li.areapriv{
	background-color:#d2d7db;
}

nav #contenidonav li.areapriv a{
	color:#505153;
}

nav .subnav{
	background-color:#fe0000;
	float:left;
	width:100%;
	display:none;
	height:0px;
	margin-bottom: -6px;
	transition: all 1s ease-in-out 0.1s;
	-moz-transition: all 1s ease-in-out 0.1s;
	-webkit-transition: all 1s ease-in-out 0.1s;
	
}

nav #contenidonav .subnav li{
	border:none;
	padding:0.5em 1em;
	transform:rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);	
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	
}

nav #contenidonav .subnav li a{
	color:#fff;
	padding:0;
	transform:rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);	
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

nav #contenidonav .subnav li.select, nav #contenidonav .subnav li:hover{
	background-color: #fe0000;
	border:0;
	margin:0px;
}

nav #contenidonav .subnav li:hover a{
	text-decoration:underline;
}




/*BUSCADOR TOP */

#buscador_top{
	float:left;
	width:100%;	
}

#buscador_top #buscform{
	background-color: #D2D7DB;
    float: left;
    width: 100%;    
}

#buscador_top #buscform #buscavanz{	
	display: table;
	width: 100%;
	 display: none;
}

#buscador_top #buscform #buscavanz #colseleccion{
	width: 20%;
    height: 400px;
   
}

#buscador_top #buscform #buscavanz #colseleccion li{
	background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
    display: table;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#buscador_top #buscform #buscavanz #colseleccion li a{
    color: #515151;
    display: table-cell;
    height: 100%;
    padding: 0 10%;
    vertical-align: middle;
    width: 100%;
}

#buscador_top #buscform #buscavanz #colseleccion li:last-of-type{
	text-align:left;
}

#buscador_top #buscform #buscavanz #col1{
	
}

#buscador_top #buscform #buscavanz #col2{
	
}

#buscador_top p{
	float: left;
    text-align: center;
    width: 100%;
    border-top:4px solid #515151;
}

#buscador_top p a{
	background-color: #515151;
    border-radius: 0 0 4px 4px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 1em;
    text-transform: uppercase;
     font-size: 18px;
}

#buscador_top p a span {
    font-size: 25px;
}    	        



/****************************** MINIFICHAS****************************************/
.content .contenedor .bloqueminificha{
	float:left;
	width: 22%;
	margin: 0 1% 0 0;
	padding: 1%;
}
.content .contenedor .bloqueminificha .bloqueminifichacontent{
	float: left;       
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    padding:10px;
}

.content .contenedor .bloqueminificha.last{
	margin:0px
}

.content .contenedor .bloqueminificha .img_bloqueminificha{
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
    height: 157px;
    overflow: hidden;    
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.content .contenedor .bloqueminificha .img_bloqueminificha img{
	width: 193px;
	padding: 5px;
}

.content .contenedor .bloqueminificha a.detalle{
	background-color: #FFFFFF;
    border-radius: 4px;
    color: #000000;
    margin-left: 120px;
    margin-top: -50px;
    padding: 1px 10px;
    position: absolute;
    text-align: center;
    width: 75px;
	
}     	  

.content .contenedor .bloqueminificha a.detalle:hover{
	color:red;
}

.content .contenedor .bloqueminificha .datos_basic{
	height: 93px;
    overflow: hidden;
     color: #515151;	
}

.content .contenedor .bloqueminificha .geop{
	margin-left:92%;
    margin-top: -85px;    
}

.content .contenedor .bloqueminificha .geop_hover{
	margin-left: 92%;
    margin-top: -33px;
    position: relative;
    width: 100px;
    visibility:hidden;   
}

.content .contenedor .bloqueminificha .geop_hover a{
	color:#3e3e3e;
}
	
.content .contenedor .bloqueminificha .geop_hover p{
	font-size: 14px;
    margin-left: 32px;
    margin-top: -29px;
}


.content .contenedor .bloqueminificha .datos_basic h4{
	font-size: 21px;
	font-weight: normal;
	color:red;
	text-transform:uppercase;
	width: 90%;
	
}

.content .contenedor .bloqueminificha .direccion{
	font-size:15px;
}

.content .contenedor .bloqueminificha .datos_basic p.descrip{
 	font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .contenedor .bloqueminificha p.tipo{
	border-bottom: 1px solid #FF0000;
    border-top: 1px solid #FF0000;
    color: #FF0000;
    font-size: 1em;
    font-weight:bold; 
    margin:77px 0 0.5em;
    padding: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.content .contenedor .bloqueminificha ul.detalles{
 	float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.content .contenedor .bloqueminificha ul.detalles li{
	font-family: lucidagrande,arial;
	border-right: 1px solid #FF0000;
 	display: inline-block;
    font-size: 11px;
    height: 12px;
    margin: 0 2px;
    padding-right: 2px;
    
}

.content .contenedor .bloqueminificha ul.detalles li:nth-child(odd) {
	font-weight:bolder
}

.content .contenedor .bloqueminificha .precio{
	background-color: #FF0000;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    float: left;
    width: 100%;
    margin-top:10px;
    height: 35px;
}

.content .contenedor .bloqueminificha .precio p.valorprecio{
	float: left;
	color: #FFFFFF;
    margin-left: 5px;
    margin-top: 0px;
    width: 48%;
    font-size: 25px;
}

.content .contenedor .bloqueminificha .precio p.consultarprecio{
	float: left;
	color: #FFFFFF;
    margin-left: 2%;
    margin-top: 3%;
    width: 98%;
    font-size: 20px;
    text-align:center;
}

.content .contenedor .bloqueminificha .precio p.tipgest{
	float: right;
    font-size: 14px;
    margin-right:5px;
    margin-top: 5px;    
    text-align: right;
    width: 38%;
    color:#fff;
    line-height: 12px;
}

.content .contenedor .bloqueminificha .precio2{
	background-color: #3e3e3e;
	color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    float: left;
    width: 100%;
    margin-top: 1px;
    height: 45px;
}

.content .contenedor .bloqueminificha .precio2 .col1{
	border-right: 1px solid #FFFFFF;
    float: left;
    margin:5px 0 5px 5px;
    width: 46%;
}

.content .contenedor .bloqueminificha .precio2 .col1 p.tipgest{
	font-size: 10px;
    text-transform: uppercase;
}

.content .contenedor .bloqueminificha .precio2 .col1 .valorprecio{
	font-size: 19px;
}

.content .contenedor .bloqueminificha .precio2 .col2{
	float: right;
    margin:5px 5px 5px 0px;
    text-align: right;
    width: 45%;
}

.content .contenedor .bloqueminificha .precio2 .col2 p.tipgest{
	font-size: 10px;
    text-transform: uppercase;
}

.content .contenedor .bloqueminificha .precio2 .col2 p.valorprecio{
	font-size: 19px;
}

.content .contenedor .bloqueminificha .precio2 .col2 p.consultarprecio{
	font-size: 13px;
}                                      
                               
.content .contenedor .bloqueminificha .campanas{
	float: left;
    margin-top: 0.5em;
    width: 100%;
}

.content .contenedor .bloqueminificha .campanas .campana{
	text-align: center;
    width: 100%;
}

.content .contenedor .bloqueminificha .campanas .campana li{
	display: inline-block;
    margin: 0 3%;
}

.content .contenedor .bloqueminificha .comparar {
 	float: left;
    margin-left: 10px;
    margin-top: 8px;
}

.content .contenedor .bloqueminificha .comparar input{
	vertical-align: middle;
}

.content .contenedor .bloqueminificha .comparar label{
	font-size: 14px;
    text-transform: uppercase;
    vertical-align: middle;
}

.content .contenedor .bloqueminificha .social {
	float: right;	
    margin-top: 10px;
    text-align: right;
 	margin-right: -10px;
}

.content .contenedor .bloqueminificha .social a{
	display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    }

.content .contenedor .bloqueminificha .social a.share{
	background:url("../images/share_minificha.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.content .contenedor .bloqueminificha .social a.share:hover, .content .contenedor  .social a.share.select{
	background:url("../images/share_hover_minificha.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.content .contenedor .bloqueminificha .social a.mail{
	background:url("../images/mail_minificha.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)	
}

.content .contenedor .bloqueminificha .social a.mail:hover, .content .contenedor  .social a.mail.select{
	background:url("../images/mail_hover_minificha.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)	
}

.content .contenedor .bloqueminificha .social a.favorite{
		background:url("../images/fav_minificha.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)	
}
.content .contenedor .bloqueminificha .social a.favorite:hover, .content .contenedor  .social a.favorite.select{
		background:url("../images/fav_hover_minificha.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)	
}




/*MIFICHAS DOBLES*/
.content .contenedor .bloqueminificha.doble{
	width:47%;
	}

.content .contenedor .bloqueminificha.doble .img_bloqueminificha img{
	width:420px;
}


.content .contenedor .bloqueminificha.doble .precio p.valorprecio{
	width: 70%;
}


.content .contenedor .bloqueminificha.doble .precio p.tipgest{
	margin-top: 10px;
    width: 27%;
}

.content .contenedor .bloqueminificha.doble .precio2 .col1, .content .contenedor .bloqueminificha.doble .precio2 .col2{
	text-align: center;
}

.content .contenedor .bloqueminificha.doble .precio2 .col1 p.tipgest, .content .contenedor .bloqueminificha.doble .precio2 .col2 p.tipgest {
	display: inline-block;
	font-size: 12px;
    margin-top: 10px;
	
}

.content .contenedor .bloqueminificha.doble .precio2 .col1 p.valorprecio, .content .contenedor .bloqueminificha.doble .precio2 .col2 p.valorprecio{
	display: inline-block;
}



/********************************* FIN ELEMENTOS COMUNES ************************/

/********************************* INDEX ***************************************/

.content .contenedor {
    float: left;
    margin-top: 20px;
    width: 100%;
}





/* CARRUSEL */
.content .contenedor #carrusel {
    float: left;
    margin-left:2%;
    margin-bottom: 25px;
    width: 96%;
}




/* CARRUSEL INMUEBLES */
.content .contenedor #ultimnove{
	float: left;
	width: 100%;
	margin-bottom: 2em;	
}
.content .contenedor #ultimnove h3{
	background: url("../images/h3_line.png") repeat-x scroll center center rgba(0, 0, 0, 0);
    color: #FF0000;
    float: left;
    text-align: center;
    width:96%;
    margin:0 3% 1em;
    
}
.content .contenedor #ultimnove h3 span{
	background-color: #FFFFFF;
    color: #FF0000;
    padding: 0 0.5em;
    font-size: 28px;
    font-weight: 100;
}

.carrubloq_bot{
	font-size: 3em;
    text-align: center;
    width: 3%;
    margin-top: 50px;
}

.carrubloq_bot a{
	color:#515151;
}

.carrubloq_bot.active a{
	color:red
}

#carrubloq_prev {
    float: left;	
}

#carrubloq_next{
    float: right;   
}

.content .contenedor #ultimnove #carrubloq{
	float: left;
    width: 94%;
    margin-left: -7px;
}


/* BANNER*/
.content .contenedor #banners_home{
    float: left;
    margin-bottom: 2em;
    margin-left: 4%;
    width: 93%;;
}

.content .contenedor #banners_home .banner{
	float: left;
	width:455px;
	height: 180px;
	overflow: hidden;
   	border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
}

.content .contenedor #banners_home .banner.last{
	float: right;
}





/****************************************************** PIE *******************************/

footer{
	float:left;
	width:100%;
}

footer p.mapaweb{
 	background-color: #515151;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    float: right;
    margin-right: 50px;
    padding: 2px 30px;
}

footer p.mapaweb a{
 	color: #FFFFFF;
    float: left;
    text-transform: uppercase;
    width: 100%;
}

footer .footercontent{
	display: table;
	width: 100%;
	background-color: #515151;
	
}

footer .footercontent .col1{
	display: table-cell;   
    vertical-align: middle;
    width: 27%;
}

footer .footercontent .col1 a.logofoot{
 	border-radius: 4px 4px 4px 4px;
    float: left;
    text-align: center;
    width: 120px;
    margin: 10px 5px;
}

footer .footercontent .col1 a.logofoot img {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}

footer .footercontent .col1 a.logofoot.openbank{
	 background-color: #FFFFFF;
}

footer .footercontent .col1 a.logofoot.santander{
	 background-color: red;
}

footer .footercontent .col2{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 52%;
}

footer .footercontent .col2 li{
	display: inline-block;
	font-size:12px;
	border-right: 1px solid #FF0000;
 	padding-right: 5px;
    vertical-align: middle;
}

footer .footercontent .col2 li a{
	color:#fff;
}	

footer .footercontent .col2 li a:hover{
	color:red;
}

footer .footercontent .col3{
   	display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 24%;
}

footer .footercontent .col3 li{
	display: inline-block;
    height: 29px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 29px;    
}

footer .footercontent .col3 li a{
	float:left;
	width:100%;
}

